body{
    font-family: Muli,sans-serif;
    margin: 0%;
    padding: 0%;
}
.header a{
    text-decoration: none;
    position: relative;
}
.head::after{
    content: '';
    position: absolute;
    height: 3px;
    left: 0px;
    bottom: -6px;
    width: 100%;
    background-color: rgb(169, 169, 91);
    display: block;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}
.head:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.head{
    color: #ffffff;
    outline: none;
    background-color: none;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

.header div, .header a{
    cursor: pointer;
}

.log{
    padding: 11px;
    background-color:#ffffff;
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
    color: #10d8a6de;
}
.log:hover {
    background-color: #10d8a6de;
    color: #ffffff;
}
.header{
    background-color: rgba(35, 32, 31);
    color: whitesmoke;
    overflow: hidden;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loge{
    border: 2px solid #673de6;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin: 60px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px 0px 0px 105px;
}
form input:first-child{
    margin: 20px 20px 0px 20px;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form input:nth-child(7){
    padding: 10px;
    background-color:#ffffff;
    border: 2px solid #673de6;
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
    color: #673de6;
    width: 270px;
    margin: 20px 0px 20px 20px;
}
form input:nth-child(3){
    margin: 20px;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form input:nth-child(5){
    margin-left: 20px;
}
form input:nth-child(7):hover{
    background-color: #673de6;
    color: #ffffff;
}
p{
    text-align: center;
}